<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <components>
      <component id="Point"     type="Tech.ShapeArea.CoreShapes.PointFactory,     Tech.ShapeArea.CoreShapes" />
      <component id="Circle"    type="Tech.ShapeArea.CoreShapes.CircleFactory,    Tech.ShapeArea.CoreShapes" />
      <component id="Rectangle" type="Tech.ShapeArea.CoreShapes.RectangleFactory, Tech.ShapeArea.CoreShapes" />
      <component id="Triangle"  type="Tech.ShapeArea.CoreShapes.TriangleFactory,  Tech.ShapeArea.CoreShapes" />
    </components>
  </castle>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>